.well-color {
  padding: 40px;
}

h1 {
  margin: 0;
}

.listHeader {
  text-align: center;
  background-size: cover;
  padding: 20px;
}

.chat {
  background-color: beige;
}

.no_link {
  color: black;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  text-decoration: underline;
}

.vertical-line {
  float: left;
  width: 1px;
  background-color: black;
}
