@(message: String, user: models.UserInfo, studyGroups: List[models.StudyGroup]) 

@scripts = {} 

@js = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/rowlink.js")"></script>
} 

@Main(message, scripts, js) {

<h1>Profile</h1>
<hr>

<div class="container">
  <div class="col-md-4">
    <div class="well">
      <img src="@user.getProfilePic()" class="img-responsive">
      <h3>Name: @user.getFullName()</h3>
      <h3>E-mail: @user.getEmail()</h3>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      @if(studyGroups.isEmpty()) { You do not currently have any study groups. <a data-toggle="modal" href="#create">Create
        One?</a> } else {
      <h3>
        Created Study Groups: <span class="badge">@studyGroups.size()</span>
      </h3>
      <br>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Topics</th>
            <th>Class</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
          @for(sg <- studyGroups) {
          <tr class="tBody">
            <td><a class="no_link"
              href="@routes.StudyGroups.viewStudyGroup(sg.getId, Misc.slugify(sg.getCourse), Misc.slugify(sg.getCourseLevel))">@sg.getTopics()</a></td>
            <td>@sg.getCourseLevel()</td>
            <td>@sg.getDay(), @sg.getMeetDateString()</td>
            <td>@sg.getMeetTimeString()</td>
            <td>@sg.getLocation()</td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</div>

}
