@(title: String, lectureForm: Form[views.formdata.LectureForm])

@import helper._
@import bootstrap3._


@Main(title) {

<h2>Create a Lecture</h2>
<hr>

<div class="well">
 @form(routes.Lectures.addNewLecture(), 'class -> "form-horizontal") {
  
            @text(lectureForm("course"),
                  label = "Course",
                  placeholder = "ICS",
                  help = "")
            
            @text(lectureForm("level"),
                  label = "Level",
                  placeholder = "311",
                  help = "")
            
            @text(lectureForm("topic"),
                  label = "Topic",
                  placeholder = "Topic 10A: Quicksort",
                  help = "")
            
            @bootstrap3.textarea(lectureForm("description"),
                  label = "Description",
                  placeholder = "In this video, we will be going over quicksort....",
                  help = "Optional")
                  
            @text(lectureForm("videoId"),
                  label = "Video ID",
                  placeholder = "http://www.youtube.com/watch?v=v1ghdc_hwMI",
                  help = "The YouTube URL of the video")
                  
                  
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submitButton" type="submit" class="btn btn-primary">
                Create
                </button>
            </div>
        </div>
            
       </div>              
        
  }
}