@(title: String, course: models.Course, lectures: List[models.Lecture], lectureForm: Form[views.formdata.LectureForm], showModal: Boolean) 

@import helper._
@import bootstrap3._

@scripts = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/lectures.css")">
}

@js = {
    @if(showModal == true) {
        <script type="text/javascript">
        $(window).load(function() {
             $('#add').modal('show');
        });
        </script>
    }
    
    <script type="text/javascript">
    $(document).on("click", ".open-delete", function() {
        var url = $(this).attr('data-link');
        $(".modal-footer #modaldelete").attr('href', url);
    });
    </script>
    
  
}

@Main(title, scripts, js) {

<div class="title">
  <h1>@course.getCourseName() (@course.getId()) - Lectures</h1>
</div>

<hr>
<br />
<div class="well">

  <p>
    <b>Number of Videos: <span class="badge">@lectures.size()</span></b>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#add">
      <span class="glyphicon glyphicon-pencil"></span> Add
    </button>
  </p>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @for(lecture <- lectures) {
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="@lecture.getLevel()">
        <h4 class="panel-title">
          <a class="sub btn-block" data-toggle="collapse" data-parent="#accordion" href="#@lecture.getVideoId()" aria-expanded="true" aria-controls="collapseOne">@lecture.getCourse() @lecture.getLevel() - @lecture.getTopic()
          <div class="pull-right"><span class="glyphicon glyphicon-chevron-down"></span></div></a>
        </h4>
      </div>
      <div id="@lecture.getVideoId()" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@lecture.getVideoId()">
        <div class="panel-body">
          <p>
            <b>Video: </b>
          </p>
          <iframe width="560" height="315" src="http://www.youtube.com/embed/@lecture.getVideoId()" frameborder="0" allowfullscreen></iframe>
          <p><b>Description: </b></p>
          @lecture.getDescription() 
          <br> <br> 
          <a id="editLecture" class="btn btn-warning btn-xs" href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
          <a id="deleteLecture" data-toggle="modal" href="#delete" class="open-delete btn btn-danger btn-xs pull-right" data-link="@routes.Lectures.deleteLecture(course.getId(), lecture.getCourse(), lecture.getLevel(), lecture.getVideoId())"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </div>
      </div>
    </div>
    }
  </div>

    <!-- delete modal -->
    <div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
              <span class="glyphicon glyphicon-warning-sign"></span> Do you really want to delete this video?
            </h4>
          </div>
          <div class="modal-body">
            <p>This change cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button id="modalcancel" type="button" class="btn btn-default" data-dismiss="modal">No, cancel.</button>
            <a id="modaldelete" type="button" class="btn btn-danger" 
                href="">
            <span class="glyphicon glyphicon-trash"></span> Yes, Delete.</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
  <!-- add modal -->
  @form(routes.Lectures.addLecture(course.getId()), 'class -> "form-horizontal") {
  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add Lecture for @course.getId()</h4>
        </div>
        <div class="modal-body">      
            @text(lectureForm("course"),
                  label = "Course",
                  placeholder = "ICS",
                  help = "")
            
            @text(lectureForm("level"),
                  label = "Level",
                  placeholder = "311",
                  help = "")
            
            @text(lectureForm("topic"),
                  label = "Topic",
                  placeholder = "Topic 10A: Quicksort",
                  help = "")
            
            @bootstrap3.textarea(lectureForm("description"),
                  label = "Description",
                  placeholder = "In this video, we will be going over quicksort....",
                  help = "Optional")
                  
            @text(lectureForm("videoId"),
                  label = "Video ID",
                  placeholder = "http://www.youtube.com/watch?v=v1ghdc_hwMI",
                  help = "The YouTube URL of the video")
            
                     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="submitLecture "type="submit" class="btn btn-success">Add Lecture</button>
        </div>
      </div>
    </div>
  </div>
  }
</div>

}
