@(title: String, sgf: Form[views.formdata.StudyGroupForm])

@import helper._
@import bootstrap3._


@Main(title) {


<h2>Create A Study Group</h2>
<hr>
</br>
    
    @form(routes.StudyGroups.addStudyGroup(), 'class -> "form-horizontal") {
    
    <!--  Still need to add other required parts of the form -->
        @bootstrap3.text(
            sgf("courseLevel"),
            label = "Course & Level",
            placeholder = "ICS 311", 
            help = "")
        
        
    
        
              
    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submitButton" type="submit" class="btn btn-primary">
                Create
                </button>
            </div>
        </div>
    }
}