@(message: String, login: Form[views.formdata.LoginForm], showLoginModal: Boolean, createAccount: Form[views.formdata.UserForm], showCreateAccountModal: Boolean)

@scripts = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")">
}

@Main(message, scripts, null, login, showLoginModal, createAccount, showCreateAccountModal) {
    
    <div class="section-1">
      <h1>Welcome to Study Groups!</h1>
    </div>

    <div class="section-2">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="well well-color">
              <h1>Learn</h1>
              <p>Get a grasp on material you have problems with.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well well-color">
              <h1>Support</h1>
              <p>Solve problems with personal guidance and interaction.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="well well-color">
              <h1>Success</h1>
              <p>Use what you learned to prosper in your courses.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
}
