@(title: String, scripts: Html = Html(""), js: Html = Html(""), 
  login: Form[views.formdata.LoginForm] = views.formdata.LoginForm.getForm(), showLoginModal: Boolean = false, 
  createUser: Form[views.formdata.UserForm] = views.formdata.UserForm.getForm(), showCreateAccountModal: Boolean = false
  )(content: Html)

@import helper._
@import bootstrap3._

<!DOCTYPE html>

<html>
<head>
<title>@title - Study Groups</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css">

<!--  Load site-specific customizations after bootstrap. -->
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/book.png")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
@scripts

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
        <![endif]-->
</head>
<body>

    <!-- Responsive navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <!--  Display three horizontal lines when navbar collapsed. -->
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@routes.Application.index()">Study Group</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href="@routes.Application.listOfCourses()">Courses</a></li>
           <!-- <li><a >Create A Study Group</a></li> -->
           @if(Secured.isLoggedIn(ctx())) {
            <li><a data-toggle="modal" href="#create">Create</a></li>
           }
           <li class="hidden-xs">
            @form(routes.Application.search(request.path), 'class -> "form-inline") {
            
                @bootstrap3.textButton(
                    models.Search.getForm()("term"),
                    placeholder = "Search")
            }
          </li>
          <li class="visible-xs"><a data-toggle="modal" href="#search">Search</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            @if(!Secured.isLoggedIn(ctx())) {
                <li><a data-toggle="modal" href="#login">Login</a></li>
                <li><a data-toggle="modal" href="#createAccount">Create Account</a></li>
            } else {
                <li><a href="@routes.Users.profile(Secured.getUserInfo(ctx()).getId(), Misc.slugify(Secured.getUserInfo(ctx()).getFullName()))">@Secured.getUserInfo(ctx()).getFirstName()</a></li>
                <li><a href="@routes.Users.logout()">Logout</a></li>
            }
          </ul>
        </div>
      </div>
    </div>
  
  <!--  "Create" modal -->  
  <div id="create" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title">Create</h4>
        </div>
        <div class="modal-body">
           <div class="row">
            <div class="col-sm-6">
            <div class="well">
            <a href="@routes.Lectures.createLecture()"><h1>Lecture</h1></a>
            <br/>
            Create a new lecture.
            </div>
            </div>
           <div class="col-sm-6">
           <div class="well">
           <a href="@routes.StudyGroups.createStudyGroup()"><h1>Study Group</h1></a>
           <br/>
           Create a new study group.
           </div>
           </div>
           </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--  "Search" modal -->  
  <div id="search" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title">Search</h4>
        </div>
        <div class="modal-body">
           @form(routes.Application.search(request.path), 'class -> "form-inline") {
            
            @bootstrap3.textButtonModal(
                models.Search.getForm()("term"),
                placeholder = "Search")
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Login modal -->
  <div id="login" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
            @form(routes.Users.postLogin(request.path), 'class -> "form-horizontal") {
            
                @bootstrap3.text(
                    login("email"),
                    label = "Email", 
                    placeholder = "",
                    help = "")
                
                @bootstrap3.password(
                    login("password"),
                    label = "Password",
                    placeholder = "",
                    help = "")
 
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submitButton" type="submit" class="btn btn-primary">
                     Login
                    </button>
                 </div>
            </div>
            }
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- Create Account modal -->
  <div id="createAccount" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title">Create Account</h4>
        </div>
        <div class="modal-body">
            @form(routes.Users.createAccount(), 'class -> "form-horizontal") {
                
             @bootstrap3.text(
                createUser("firstName"),
                label = "First Name",
                placeholder = "", 
                help = "")
                
             @bootstrap3.text(
                createUser("lastName"),
                label = "Last Name",
                placeholder = "", 
                help = "")
                
             @bootstrap3.text(
                createUser("email"),
                label = "Email",
                placeholder = "", 
                help = "")
             
                 
             @bootstrap3.password(
                createUser("password"),
                label = "Password",
                placeholder = "", 
                help = "")
                
            @bootstrap3.password(
                createUser("password2"),
                label = "Confirm Password",
                placeholder = "", 
                help = "Enter your password again.")
             
             <div class="well">
               <div class="disqus"></div>
               <p class="text-center">
                 <a href="https://disqus.com/profile/signup/?next=https://disqus.com/" target="_blank">Sign up</a> with DISQUS to communicate in study groups!
               </p>
             </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submitButton" type="submit" class="btn btn-primary">
                     Create Account
                    </button>
                 </div>
            </div>
           
           }
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    @content
  </div>

  <div class="container">
    <hr>
  </div>
  
  <!-- Load Bootstrap JavaScript components. HTMLUnit (used in testing) requires JQuery 1.8.3 or below). -->
  
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  @js
  
  @if(showCreateAccountModal) {
    <script type="text/javascript">
      $(window).load(function() {
         $('#createAccount').modal('show');
      });
    </script>
   }
  
  @if(showLoginModal) {
    <script type="text/javascript">
    $(window).load(function() {
       $('#login').modal('show');
    });
    </script>
  } 
  
</body>
</html>